name: Build Next.js and Upload Artifacts

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build

  
      - name: Check .next contents
        run: ls -la .next

    

      - name: Upload .next folder
        uses: actions/upload-artifact@v4
        with:
          name: next-build
          path: ./.next

    

